/* Utilizando o #page-home estamos acessando os elementos/tags do documento html em forma de cascata. */
#page-home {
    height: 100vh;
    /* assim como a porcentagem também é uma medida dinâmica. O html vai pegar toda a altura do view port height. Esse view port heigth é a parte "branca" 
    entre o primeiro elemento da tela e o topo da tela.*/
    background: url('../assets/extras-aula-1/icones/home-background.svg') no-repeat;
    /*o ../ indica para sairmos do diretório atual e ir para um diretório superior*/
    background-position: 35vw bottom;
    /*o eixo y vai colar no bottom e o x vai ficar a 35 view port width*/
}

#page-home .content {
/* o "." antes do content indica que esse estilo do css faz referÊncia a uma classe.*/ 
    width: 90%;
    /* se atingir menos que 1100px ele se ajusta a 90% da largura total da tela (uma distância de 10% do fim da tela - lado direiro)*/
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;
    /*top e bottom espaçamento 0. Right e left espaçamento automático*/

    display: flex;
    flex-direction: column;
}

#page-home header {
    margin-top: 48px;
    display: flex;
     /*o display externo é block (ocupa a linha toda) e o display interno torna coloca os elementos da box um do lado do outro.*/
    align-items: center;
    justify-content: space-between; 
   
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    /* negrito da fonte roboto que nós escolhemos.*/
}

#page-home header a span {
    margin-right: 16px;
    display: flex;

    background-image: url('../assets/extras-aula-1/icones/log-in.svg');

    width: 20px;
    height: 20px;
}

#page-home main {
    max-width: 560px;

    flex: 1;
    /*Preenche automaticamente todo o espaço que o main tiver.*/

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    /* diferentemente de quando trabalhamos com box, é no line-height que temos a altura da linha do texto*/
    margin-top: 24px;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 8px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    background-color: var(--primary-color);

    transition: 400ms;
    /*A transição entre as duas cores do botão será mais suave*/

    font-weight: bold;
    /*Bold indica que a letra ficará em negrito. Poderiamos indicar isso numericamente também; no caso, usando 700*/
}

#page-home main a:hover{
    /* Quando esse seletor a estiver com uma funcionalidade de hover ele consegue aplicar uma estilização especial.
    Em outras palras, quando o mouse estiver em cima o botão muda para a cor especificada abaixo.*/
    background-color: #2fb86e;
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color: rgba(0, 0, 0, 0.08);
    /*Estamos usando o rgb alpha, que é o rgb definido através de números e com a adição do aplha que é a transparência*/

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after {
/*Estamos criando um pseudo elemento aqui. É um elemento que não existe no html, mas que tem sua origem através do CSS*/
    content: "";
    background-image: url('../assets/extras-aula-1/icones/search.svg');
    /* Vale lembrar que para essa imagem aparecer na página web, por se tratar de uma tag spam, precisa ter definido uma largura, uma altura
    e um display. No caso, definimos a sua largura e altura aqui mesmo e definimos o display no pai dele: #page-home main a span*/

    width: 20px;
    height: 20px;
}

#page-home main a strong {
    flex: 1;
    /*Faz crescer toda a caixa*/
    color: white;
    text-align: center;
}