/*BOX MODEL
Modelo de Caixa

Toda caixa tem: largura, espaçamento, preenchimentos, bordas, cor, fundo, maneira que é vista pelo html (display), alinhamentos.
*/

:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}
/* Está referenciando a raiz do nosso documento html. Dentro do root poderemos colocar algumas informações que podem ser repetidas em formato de variáveis.
*/

* {
    margin: 0;
    padding: 0;
    /*Estamos zerando as margens de todas as box presentes no navegador.*/

    box-sizing: border-box;
    /*seu padrão é o content-box que determina o tamanho da caixa pelo o formato do seu conteúdo.
    Ao utilizarmos o border-box estamos especificando que o tamanho da caixa é limitado pelas suas prórpias bordas/limites
    (o que faz muito mais sentido).*/
}
/*Seletor que basicamente referencia todos os outros seletores.*/

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    /*Tira, de todos os elementos a do meu código html, o sublinhado*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}