<header>
    <img src="/assets/extras-aula-1/icones/logo.svg" alt="logomarca">
    <!-- o parâmetro alt serve como segunda alternativa caso a imagem desejada não seja encontrada. Tem como um dos motivos a acessibilidade, onde
    , caso algum leitor de tela esteja processando as informações da página para um usuário com deficiência visual, o leitor irá reproduzir 
    sonoramente o que está escrito no parâmetro alt.-->
    <a href="/">
        <!-- Poderiamos colocar "/". Como estamos rodando pelo servidor o / significa que é a home -->
        <span></span>
        Voltar para home
    </a>
</header>